<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>PlayfairDisplay-VariableFont_wght.ttf</string>
		<string>NotoSerifKR-VariableFont_wght.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>프로토콜 결과 이미지를 갤러리에 저장하기 위해 권한이 필요합니다.</string>
</dict>
</plist>
